:root {
    --primary-color: #120e81;
	--secondary-color: #e09c15;
	--accent1-color: #0e0707;
	--accent2-color: #d6d6d6;
    --heading-font: "Montserrat", Sans-serif, Arial;
    --text-font: "Bokor", Serif, 'Cormorant';
    --paragraph-font: "Roboto", Garamond, 'Arrows';
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
  }
  
  header {
    background-color: var(--primary-color);
    color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  header img {
    height: 98px;
  }
  
  header nav a {
    color: #d6d6d6;
    text-decoration: none;
    margin: 0 10px;
    font-style: italic;
  }

  .logo {
    margin: 0 0.25rem 0 1rem;
    width: 80px;
    height: auto;
}

h1 {
  font-size: 1.8em;
  font-family: var(--heading-font);
}
  

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

  .hero {
    position: relative;
    text-align: center;
  }
  
  .hero img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .hero h1 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-family: var(--heading-font);
    color: white;
    font-size: 2.5rem;
  }
  
  .hero article {
    position: absolute;
    bottom: 30%;
    left: 30%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 40px;
    border-radius: 5px;
  }
  
  .hero article img {
    float: right;
    max-width: 100px;
    margin: 0 0 10px 10px;
  }
  
  .history {
    padding: 20px;
    background-color:  #d1cfd0;
    text-align: center;
}

.history h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.history p {
    font-size: 1.1em;
    color: var(--accent1-color);
    line-height: 1.6;
}


  section {
    padding: 20px;
    text-align: center;
  }
  
  section h2 {
    color: var(--primary-color);
    font-family: Garamond;
  }
  
  section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .adventure {
    padding: 20px;
    text-align: center;
    background-color: #e9e2e2;
}

.adventure h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--primary-color);
    background-color: #6cd0d0;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow-x: auto;
    padding: 5px;
    background-color: antiquewhite;
}

figure {
    flex: 1 0 calc(20% - 10px);
    text-align: center;
    margin: 0px;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

figcaption {
    margin-top: 8px;
    font-size: 1em;
    color: #555;
}

  
  footer {
    background-color: #f98128;
    color: white;
    text-align: center;
    position: relative;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
  }
  
  footer .sociallinks {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  footer .sociallinks img {
    width: 24px;
    margin: 0 5px;
  }
  